# Terraform
**/.terraform/
**/.terraform.lock.hcl
*.tfstate
*.tfstate.backup
*.tfvars

# Python
__pycache__/
*.py[cod]
*.egg-info/
venv/
.venv/

# AWS
.aws/
*.pem
credentials.csv

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store

# TXT files
*.log
history.txt
